body{
	background-color: rgb(54,21,155);
	background-image: linear-gradient(180deg, blue, rgb(99,140,252));
	font-family: "Times New Roman", Georgia, Serif, serif;
	padding: 0 10px;
}

div{
	display: block;
}

img{
	position:relative;
	animation:earth 5s infinite;
}
@keyframes earth
{
	from {left:0;}
	to {left:200px;}
}

@-webkit-keyframes earth /*Safari and Chrome*/
{
	from {left:0;}
	to {left:200px;}
}

.font{
	color: aliceblue;
}




.header {
    max-width: 980px;
    margin: 20px auto;
}
.DisplayPage1{
	margin: 100px 0;
	text-align: center;
}
